// Define SCSS variables
$table-border-radius: 10px;
$table-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
$hover-background-color: #f8f9fa;
$hover-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

.table-container {
  box-shadow: $table-box-shadow;
  border-radius: $table-border-radius;
  overflow: hidden;
  background-color: #fff;
  margin-top: 20px;
}

.custom-table {
  th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
    border: none;
  }

  td,
  th {
    border: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding: 15px;
  }

  tbody tr {
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $hover-background-color;
      box-shadow: $hover-box-shadow;
      transform: scale(1.02);
    }

    &:hover td::after,
    &:hover th::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 5px;
      background: rgba(0, 123, 255, 0.1);
      z-index: -1;
    }
  }

  td {
    &:hover::after,
    &:hover::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 5px;
      background: rgba(0, 123, 255, 0.1);
      z-index: -1;
    }
  }

  .order-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .image-container {
    position: relative;
    display: inline-block;

    .more-images {
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 0.8rem;
    }
  }

  .order-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
