<section class="pt-5">
  <div class="form-container">
      <h2 class="text-center">Register</h2>
      <form [formGroup]="formGroup" (ngSubmit)="Submit()">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control"
          formControlName="userName"
          [class.is-valid]="_userName.valid"
          [class.is-invalid]="_userName.invalid && _userName.touched"
          >
          @if(_userName.invalid&& _userName.touched){
            <span class="text-danger"> userName Is Required </span>
          }
        </div>
        <div class="form-group">
          <label for="displayName">Display Name</label>
          <input type="text" class="form-control"
          formControlName="displayName"
          [class.is-valid]="_displayName.valid"
          [class.is-invalid]="_displayName.invalid && _displayName.touched"
          >
          @if(_displayName.invalid&& _displayName.touched){
            <span class="text-danger"> DisplayName Is Required </span>
          }
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control"
          formControlName="email"
          [class.is-valid]="_email.valid"
          [class.is-invalid]="_email.invalid && _email.touched"
          >
          @if(_email.hasError('required')&& _email.touched){
            <span class="text-danger"> Email Is Required </span>
          }
          @else if (_email.hasError('email')) {
            <span class="text-danger"> Invaled Email Address </span>
          }
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"
          formControlName="password"
          [class.is-valid]="_password.valid"
          [class.is-invalid]="_password.invalid && _password.touched"
          >
          @if(_password.hasError('required')&& _password.touched){
            <span class="text-danger"> Password Is Required </span>
          }
          @else if (_password.hasError('pattern')) {
            <span class="text-danger"> password must contine upperd and lower charcter and digits </span>
          }
        </div>
        <div class="form-group">
          <button class="btn btn-success w-100 mb-4" [disabled]="formGroup.invalid">Register</button>
          <button class="btn btn-primary w-100 " routerLink="/account/login">Login</button>
        </div>
      </form>
  </div>
</section>
