<form [formGroup]="delivery">
  <mat-radio-group (change)="setShippingPrice()" formControlName="delivery" aria-label="Select an option">
  @for (item of deliverys; track $index) {

<mat-radio-button [value]="item.id">{{item.name}}
  <p style="font-size: 10px;">{{item.description+" " +item.deliveryTime}}</p>
  <p style="font-size: 12px; font-weight: bold;">Price:{{item.price | currency}}</p>
</mat-radio-button>

}
</mat-radio-group>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="CreatePayment()" matStepperNext>Next</button>
      </div>
    </form>
